<!-- wp:template-part {"slug":"header","theme":"idea-flow","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-small","bottom":"0","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"},"margin":{"top":"0","bottom":"0"}},"border":{"radius":"10px"}},"className":"blog-two-columns","layout":{"type":"constrained"}} -->
<main class="wp-block-group blog-two-columns" style="border-radius:10px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--superbspacing-small);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:0;padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:query-title {"type":"archive","showPrefix":false,"style":{"spacing":{"margin":{"bottom":"0"},"padding":{"top":"var:preset|spacing|superbspacing-small","bottom":"var:preset|spacing|superbspacing-small","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"backgroundColor":"mono-4","fontSize":"superbfont-large"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"blog-feed","theme":"idea-flow","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","theme":"idea-flow","tagName":"footer"} /-->