<!-- wp:template-part {"slug":"header","theme":"idea-flow","tagName":"header"} /-->

<!-- wp:pattern {"slug": "idea-flow/header-003"} /-->

<!-- wp:pattern {"slug": "idea-flow/layout-003"} /-->

<!-- wp:pattern {"slug": "idea-flow/layout-004"} /-->

<!-- wp:pattern {"slug": "idea-flow/cta-001"} /-->

<!-- wp:pattern {"slug": "idea-flow/content-004"} /-->

<!-- wp:pattern {"slug": "idea-flow/team-002"} /-->


<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-small","bottom":"var:preset|spacing|superbspacing-small","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"},"margin":{"bottom":"var:preset|spacing|superbspacing-small"}}},"className":"blog-feed-one","layout":{"type":"constrained"}} -->
<main class="wp-block-group blog-feed-one" style="margin-bottom:var(--wp--preset--spacing--superbspacing-small);padding-top:var(--wp--preset--spacing--superbspacing-small);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:var(--wp--preset--spacing--superbspacing-small);padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-xxsmall"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"left","level":3,"textColor":"primary","fontSize":"superbfont-small"} -->
<h3 class="wp-block-heading has-text-align-left has-primary-color has-text-color has-superbfont-small-font-size">Blog</h3>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","textColor":"contrast","fontSize":"superbfont-xlarge"} -->
<h2 class="wp-block-heading has-text-align-center has-contrast-color has-text-color has-superbfont-xlarge-font-size">Popular Articles</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":"3","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"align":"wide","layout":{"type":"constrained","wideSize":"100%"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-medium"}},"layout":{"type":"default","columnCount":2}} -->
<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"bottom":"0"},"blockGap":"var:preset|spacing|superbspacing-small"},"border":{"bottom":{"width":"0px","style":"none"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide" style="border-bottom-style:none;border-bottom-width:0px;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:post-featured-image {"isLink":true,"width":"","height":"400px","align":"wide","style":{"border":{"radius":"8px"}}} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"0","left":"0"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"mono-1","fontSize":"superbfont-large"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-xxsmall","margin":{"top":"10px","bottom":"10px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="margin-top:10px;margin-bottom:10px"><!-- wp:post-date {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"superbfont-xsmall"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"mono-1"} -->
<p class="has-mono-1-color has-text-color" style="font-style:normal;font-weight:600">•</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"superbfont-xsmall"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"excerptLength":54,"style":{"spacing":{"margin":{"top":"20px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"mono-2","fontSize":"superbfont-xsmall"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->



<!-- wp:pattern {"slug": "idea-flow/cta-004"} /-->

<!-- wp:template-part {"slug":"footer","theme":"idea-flow","area":"footer"} /-->