<!-- wp:template-part {"slug":"header","theme":"idea-flow","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-small","bottom":"0","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"}}},"className":"blog-two-columns","layout":{"type":"constrained","contentSize":"600px"}} -->
<main class="wp-block-group blog-two-columns" style="padding-top:var(--wp--preset--spacing--superbspacing-small);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:0;padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:query-title {"type":"search","textAlign":"center","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|superbspacing-xsmall"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"superbfont-large"} /-->

<!-- wp:template-part {"slug":"search-field-large","theme":"idea-flow","area":"uncategorized"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"blog-feed","theme":"idea-flow","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","theme":"idea-flow","tagName":"footer"} /-->